<section *ngIf="step1" class="w-75 mx-auto bg-main-light p-4 my-3 shadow rounded">
    <form [formGroup]="forgotform" (ngSubmit)="forgotPassword()">
        <label for="email">Email</label>
        <input type="email" formControlName="email" id="email" class="form-control">

        <button [disabled]="forgotform.invalid" class="main-btn mt-2">Forgot Password <span *ngIf="isLoading"> <i class="fas fa-spin fa-spinner"></i> </span></button>
        <p *ngIf="errMsg" class="alert alert-danger mt-2"> {{errMsg}} </p>
    </form>
</section>

<section *ngIf="step2" class="w-75 mx-auto bg-main-light p-4 my-3 shadow rounded">
    <form [formGroup]="ResetCodeForm" (ngSubmit)="verifyResetCode()">
        <p *ngIf="msg" class="alert alert-success mb-2 text-center w-75 mx-auto"> {{msg}} </p>
        <label for="resetCode">Reset Code</label>
        <input type="text" formControlName="resetCode" id="resetCode" class="form-control">

        <button [disabled]="ResetCodeForm.invalid" class="main-btn mt-2">Reset Code <span *ngIf="isLoading"> <i class="fas fa-spin fa-spinner"></i> </span></button>
        <p *ngIf="errMsg" class="alert alert-danger mt-2"> {{errMsg}} </p>
    </form>
</section>

<section *ngIf="step3" class="w-75 mx-auto bg-main-light p-4 my-3 shadow rounded">
    <form [formGroup]="newPasswordForm" (ngSubmit)="resetPassword()">
        <p *ngIf="msg" class="alert alert-success mb-2 text-center w-75 mx-auto"> {{msg}} </p>
        <label for="newPassword">New Password</label>
        <input type="password" formControlName="newPassword" id="newPassword" class="form-control">

        <button [disabled]="newPasswordForm.invalid" class="main-btn mt-2">Reset Password <span *ngIf="isLoading"> <i class="fas fa-spin fa-spinner"></i> </span></button>
        <p *ngIf="errMsg" class="alert alert-danger mt-2"> {{errMsg}} </p>
    </form>
</section>