<section class="mb-4 w-75 mx-auto rounded shadow bg-main-light p-4" *ngIf="cartItems; else empty">
    <div class="d-flex justify-content-between my-2">
        <h1 class="h2">Cart Shop</h1>
        <button (click)="clearUserCart()" class="btn btn-sm btn-outline-danger">Clear Cart</button>
    </div>
    <div class="d-flex justify-content-between my-4">
        <h2 class="h5">total price: {{cartItems.data.totalCartPrice | currency : 'EGP '}} </h2>
        <span class="h5">total number of items: {{cartItems.numOfCartItems}} </span>
    </div>
    <div class="row my-3 border-bottom align-items-center p-3" *ngFor="let item of cartItems.data.products">
        <div class="col-md-1">
            <img class="w-100" [src]="item.product.imageCover" [alt]="item.product.title">
        </div>
        <div class="col-md-11">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <h3 class="h6"> {{item.product.title}} </h3>
                    <span class="d-block"> {{item.price | currency : 'EGP '}} </span>
                    <button (click)="removeItem(item.product._id, btnRemove)" #btnRemove class="btn btn-sm m-0 p-0 text-danger"> 
                        <i class="fa-solid fa-trash"></i> Remove
                    </button>
                </div>
                <div>
                    <button class="btn btn-sm border-success" (click)="updateQuantity(item.product._id, item.count - 1, btn2, btn1)" #btn1>-</button>
                    <span class="mx-2"> {{item.count}} </span>
                    <button class="btn btn-sm border-success" (click)="updateQuantity(item.product._id, item.count + 1, btn2, btn1)" #btn2>+</button>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <button class="main-btn" [routerLink]="['/payment', cartItems.data._id]">
            Online Payment <img src="./assets/images/64px-Visa_Inc._logo.svg.png" alt="visa card logo"/>
        </button>
    </div>
</section>

<ng-template #empty>
    <h2 class="mb-4 w-75 mx-auto rounded shadow bg-main-light p-4 text-center">Your Cart is Empty!</h2>
</ng-template>