.product{
    overflow: hidden;

    .main-btn{
        transform: translateY(150%);
        opacity: 0;
        transition: 0.7s ease-in-out;
    }

    &:hover{
        .main-btn{
            opacity: 1;
            transform: translateY(0);
        }
    }
}