<section class="py-4 main-slide">
    <div class="row g-0 justify-content-center">
        <div class="col-md-9">
            <owl-carousel-o [options]="mainSlideOptions">
                <ng-template carouselSlide>
                    <img height="400" src="./assets/images/main-slider-1.jpg" alt="slide1">
                </ng-template>
                <ng-template carouselSlide>
                    <img height="400" src="./assets/images/main-slider-2.jpg" alt="slide2">
                </ng-template>
                <ng-template carouselSlide>
                    <img height="400" src="./assets/images/main-slider-3.jpg" alt="slide3">
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="col-md-2">
            <img height="200" src="./assets/images/main-slider-4.jpg" alt="slide4">
            <img height="200" src="./assets/images/main-slider-5.jpg" alt="slide5">
        </div>
    </div>
</section>

<section class="py-4" *ngIf="categories.length > 0">
    <h2>Popular Categories</h2>
    <owl-carousel-o [options]="categoriesOptions">
      <ng-template carouselSlide *ngFor="let category of categories">
        <img height="300" [src]="category.image" [alt]="category.name" [title]="category.slug">
        <h3 class="h6 text-main">{{ category.name }}</h3>
      </ng-template>
  </owl-carousel-o>
</section>

<section *ngIf="products.length > 0" class="py-4">
    <h2>Popular Products</h2>
    <input [(ngModel)]="term" type="text" class="form-control w-50 mx-auto form-control-sm my-3" placeholder="Search...">
    <div class="row g-4">
        <div *ngFor="let product of products | search : term.toLowerCase() | slice : 0 : 18" class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
            <div class="product h-100">
                <header role="button" [routerLink]="['/details', product._id]">
                    <img [src]="product.imageCover" [alt]="product.title" [title]="product.title" class="w-100">
                    <h3 class="h6 text-main"> {{product.category.name}} </h3>
                    <h4 class="small"> {{product.title | cuttext : 3}} </h4>
                    <div class="d-flex justify-content-between align-items-center small">
                        <span class="">{{product.price | currency : 'E£'}}</span>
                        <span class="text-muted"><i class="fas fa-star rating-color"></i> {{product.ratingsAverage}} </span>
                    </div>
                </header>
                <footer>
                    <button #btnAdd (click)="addProduct(product._id!, btnAdd)" class="main-btn mt-2 w-100 py-2">+Add To Cart</button>
                </footer>
            </div>
        </div>
    </div>
</section>