<section class="w-75 mx-auto mb-4 p-4 bg-main-light shadow rounded">
    <h1 class="h2">CheckOut Session</h1>
    <form [formGroup]="orderForm" (ngSubmit)="hundleForm()">
        <div class="form-item">
            <label for="details">details</label>
            <input id="details" type="text" class="form-control" formControlName="details">
        </div>
        <div class="form-item">
            <label for="phone">phone</label>
            <input id="phone" type="tel" class="form-control" formControlName="phone">
        </div>
        <div class="form-item">
            <label for="city">city</label>
            <input id="city" type="text" class="form-control" formControlName="city">
        </div>

        <button class="main-btn mt-3">CheckOut</button>
    </form>
</section>