<section *ngIf="productDetails;" class="p-3 w-75 mx-auto rounded shadow my-3">
    <div class="row align-items-center g-4">
        <div class="col-md-3">
            <owl-carousel-o [options]="detailsOptions">
                <ng-template carouselSlide *ngFor="let path of productDetails.images">
                    <img class="w-100" [src]="path">
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="col-md-9">
            <div>
                <div class="d-flex justify-content-between align-items-center">
                    <h2 class="h4">{{ productDetails.title }}</h2>
                    <div>
                        <i *ngIf="!wishlistData.includes($any(productDetails._id))" (click)="addFav(productDetails._id)" class="fa-regular fa-heart heart"></i>
                <i *ngIf="wishlistData.includes($any(productDetails._id))" (click)="removeFav(productDetails._id)" class="fa-solid fa-heart heart text-danger"></i>
                    </div>
                </div>
                <p class="small text-muted">{{ productDetails.description }}</p>
                <span class="text-main">{{ productDetails.category.name }}</span>

                <div class="d-flex justify-content-between align-items-center small my-3">
                    <span class="">{{ productDetails.price | currency : 'EGP' }}</span>
                    <span class="text-muted"><i [class.rating-color]="num <= productDetails.ratingsAverage" *ngFor="let num of [1,2,3,4,5]" class="fas fa-star"></i> {{ productDetails.ratingsAverage }} </span>
                </div>

                <button (click)="addProduct(productId, btnAdd)" #btnAdd class="main-btn w-100">+Add To Cart</button>
            </div>
        </div>
    </div>
</section>